[% INCLUDE header %]
<table>

	[% FOREACH blk = helices %]
			[% blk %]
		    [% FOREACH pair = pairs_in_block(blk) %]
				[% pair %]  [% mi(pair, blk) %] 
			[% END %]
	[% END %]

</table>

[% INCLUDE footer %]
