#Nexus

Begin data;
Dimensions
	ntax = [% total_ters %] 
	nchar = [% total_chars %]
;
Format
	datatype = standard
	missing = ?
	gap = -
	symbols = "A R N D C Q E G H I L K M F P S T W Y V X"
;


Matrix
[% FOREACH ter = terminals %][% justifiedrowlabel(ter) %]  [% rowdata.$ter %]
[% END %]
;
end;

