# this code is a modified copy of the Azalbo code available on CPAN

package Psy::Config;

use File::Spec;

use vars qw($VERSION %CONFIG);

use strict;

$VERSION = 2.0;

%CONFIG = "'CONFIG'";

my $curdir = File::Spec->curdir;
my $updir = File::Spec->updir;

sub root_dir
{
    $CONFIG{root_dir} = $_[0] if defined $_[0];
    return $CONFIG{root_dir};
}

sub template_dir
{
  # Alzabo::Exception->throw( error => "No Alzabo root directory defined" )
  #	unless defined $CONFIG{root_dir};

    return File::Spec->catdir( $CONFIG{root_dir}, 'schemas' );
}

#sub available_schemas
#{
#    my $dirname = Alzabo::Config::schema_dir;
#
#    local *DIR;
#    opendir DIR, $dirname
#        or Alzabo::Exception::System->throw( error =>  "can't open $dirname: $!\n" );
#
#    my @s;
#    foreach my $e (readdir DIR)
#    {
#        next if $e eq $curdir || $e eq $updir;
#
#        my $dir = File::Spec->catdir( $dirname, $e );
#        push @s, $e
#            if -d $dir && -r _ && glob "$dir/*.alz";
#    }
#
#    closedir DIR
#        or Alzabo::Exception::System->throw( error =>  "can't close $dirname: $!\n" );
#
#    return @s;
#}

__END__

